.cards {
    height: 140px;
    width: 1280px;

    &-card {
       width: 400px;
       height: 140px;
       background-color: rgb(255, 0, 17); 
            &-image {
            width: 142px;
            height: 129px;
            float: right;
             }
     }   
        &-content-content{
        width: 193px;
        height: 69px;
        
        &-image {
          width: 142px;
          height: 129px;
        }
     }   
}