.header {
  width: 1440px;
  height: 90px;
  margin-top: 0;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8980392157);
  display: flex;
  gap: 32px;
  align-items: center;
}

a {
 text-decoration: none;
 color: black;
}

.header-logo {
  padding-left: 79px;
  padding-right: 93px;
}

.menu-list {
padding-right:  33px;
}

.menu-list-list {
 margin-right: 235px;
}
 
.cards {
  height: 600px;
  width: 1281px;
  border-radius: 10px;
  background-color: #F5F5F5;
  margin-left: 79px;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: 104%; 
}

.cards-text{
  font-family: DM Sans;
  font-size: 41px;
  margin-left: 42px;
  padding-top: 141px;
}

.cards-text2 {
  font-family: DM Sans;
  font-size: 28px;
  margin-left: 42px;
  padding-top: 10px;
}

.cards-serch{
  font-family: DM Sans;
  font-size: 28px;
  border: 2px; 
  border-width: 514px; 
}

 .cards-serch-put {
  width: 514px;
  height: 62px;
  margin-top: 30px;
  margin-left: 42px;
  border-radius: 10px;
  border-color: #F5F5F5;
  padding-left: 17px;
  padding-top: 20px;
  padding-bottom: 19px;
}

.cards-picture {
  margin-left: 640px;
}

.block {
display: flex;
}

.card1 {
  width: 400px;
  margin-top: 40px;
  margin-left: 79px;
  border-radius: 5px;
  background-color: #F2F2F2;
  display: flex;
}

.card1-picture1 {
  padding-top: 15px;
}

.card1-text {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 36px;
}

.card1-txt2 {
  font-size: 14px;
  color: #00000099;
  margin-left: 15px;
}
 
.card2 {
  width: 400px;
  margin-top: 40px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: #F2F2F2;
  display: flex;
}

.card3 {
  width: 435px;
  margin-top: 40px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: #F2F2F2;
  display: flex;
  
}

.menu-button {
  height: 732px;
  width: 380px;
  border-radius: 5px;
  background-color: #F7F7F7;
  font-size: 22px;
  margin-top: 80px;
  margin-left: 79px;
  padding-top: 30px;
  padding-left: 20px;

}

.btn-border{
  border: none;
}

.menu-button-buttons {
  height: 76px;
  width: 358px;
  border-radius: 5px;
}

.menu-button-buttons:hover {
  background-color: blue;
}

.price {
  
}

.price-image {
  margin-left: 75px;
 padding-top: 25px;
}
.price-image-two {
margin-left: px;
font-size: 900px;
}

.price-text-one {
font-size: 17px;
font-family: DM Sans; 
margin-left: 20px;
margin-top: 20px;
}

.price-text-two {
 font-family: Roboto; 
 font-size: 20px;
 justify-content: center;
 color:#4200FF;
 margin-left: 83px;
}



